# node modules
node_modules

# macos
.DS_Store

# build artifacts
/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

# environment variables
env
.env
.env.*

# test coverage reports
coverage/

# extensions
/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock